---
import Layout from "@/layouts/Layout.astro";
---

<Layout { ...{pageTitle : `FineKeeper`}}>
	<div>
		<p>The current URL is: {Astro.url}</p>
		<p>The current URL pathname is: {Astro.url.pathname}</p>
		<p>The current URL origin is: {Astro.url.origin}</p>
	</div>
</Layout>